{{ define "main" }}

<section class="contact-container">

  <div class="contact-grid">


<div class="contact-image">
      <img
        src="/static/images/contact.jpg"
        alt="Julian Gilbert"
        loading="eager"
        fetchpriority="high"
      >
</div>

<div class="contact-content">

  <div class="contact-text">

    <p>
      Julian Gilbert is a film editor based in Ludwigsburg,
      where he is studying film editing in his final year at Filmakademie
      Baden-Württemberg.
    </p>

  </div>

  <div class="contact-links">

    <a href="mailto:julian.gilbert@gmx.de" class="contact-link">
      <span>MAIL</span>
    </a>

    <a href="https://www.instagram.com/_gilberton_/"
       target="_blank"
       rel="noopener"
       class="contact-link">
      <span>INSTAGRAM</span>
    </a>

    <a href="https://www.crew-united.com/de/Julian-Gilbert_673708.html"
       target="_blank"
       rel="noopener"
       class="contact-link">
      <span>CREW UNITED</span>
    </a>

    <a href="https://www.linkedin.com/in/julian-gilbert-94b9681a7/"
       target="_blank"
       rel="noopener"
       class="contact-link">
      <span>LINKEDIN</span>
    </a>

  </div>

  <form
    action="https://formsubmit.co/julian.gilbert@gmx.de"
    method="POST"
    class="contact-form"
  >

    <input type="text" name="name" placeholder="Name">

    <input type="email" name="email" placeholder="Email">

    <textarea name="message" placeholder="Message"></textarea>

    <button type="submit">
      Send
    </button>

  </form>

</div>

  </div>

</section>

{{ end }}
